body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.badge {
  padding: 5px 10px;
  border-radius: 5px;
}

.green {
  background: green;
}

.red {
  background: red;
}
